$index$

In [1]:
string1 = 'python'
string1[0],string1[1],string1[2],string1[3],string1[4],string1[5]

('p', 'y', 't', 'h', 'o', 'n')

In [5]:
string1 = 'python'
for i in range (len(string1)):
    print("the negative index of {} is {}".format(string1[i],i))

the negative index of p is 0
the negative index of y is 1
the negative index of t is 2
the negative index of h is 3
the negative index of o is 4
the negative index of n is 5

In [8]:
string1 = 'python'
for i in range (len(string1)):
    print("the negative of {} is {}".format(string1[i],i-6))

the negative of p is -6
the negative of y is -5
the negative of t is -4
the negative of h is -3
the negative of o is -2
the negative of n is -1

In [10]:
string1 = 'python'
for i in range (len(string1)):
    print("the positive of {} is {}".format(string1[i],i))

the positive of p is 0
the positive of y is 1
the positive of t is 2
the positive of h is 3
the positive of o is 4
the positive of n is 5

In [15]:
string1 = 'python'
for i in range (-len(string1),0):
    print("the positive of {} is {}".format(string1[i],i+6))
for i in range (-len(string1),0):
    print("the negative of {} is {}".format(string1[i],i))
for i in range (-len(string1),0):
    print("the positive index is {} and negative of {} is {}".format(i+6,string1[i],i-6))

the positive of p is 0
the positive of y is 1
the positive of t is 2
the positive of h is 3
the positive of o is 4
the positive of n is 5
the negative of p is -6
the negative of y is -5
the negative of t is -4
the negative of h is -3
the negative of o is -2
the negative of n is -1
the positive index is 0 and negative of p is -12
the positive index is 1 and negative of y is -11
the positive index is 2 and negative of t is -10
the positive index is 3 and negative of h is -9
the positive index is 4 and negative of o is -8
the positive index is 5 and negative of n is -7

In [3]:
string1 = 'python'
i = 0
while i<len(string1):
    print("the positive index is {} and negative index is {} for {}".format(i,i-6,string1[i]))
    i = i+1

the positive index is 0 and negative index is -6 for p
the positive index is 1 and negative index is -5 for y
the positive index is 2 and negative index is -4 for t
the positive index is 3 and negative index is -3 for h
the positive index is 4 and negative index is -2 for o
the positive index is 5 and negative index is -1 for n

**Mutable and Immutable**
- string is immutable
- list is mutable

In [2]:
string = 'python'
string[0]

'p'

In [5]:
list = [100,200,300]
list[0] = 1000
list

[1000, 200, 300]

$slice$

In [ ]:
h  a  i     h  o  w     a  r  e       y   o   u
0  1  2  3  4  5  6  7  8  9  10  11  12  13  14

In [6]:
string = 'hai how are you'
string[2:10]

#start = 2
#stop = 10-1=9
#positive

string[2:10:3]

#start = 2
#direction = +      step===3
#stop = 10-1=9
# 2   5   8

string[:]

#nothing mentioned menas take start and last letter


string[: :]

#start = 0
#stop = last letter len(string)
#step = +1

'hai how are you'

In [10]:
 string[2:14:3]

'ioa '

In [11]:
string[2:-14:-2]

#start = 2
#stop = -14+1=-13
# 2

'i'

In [12]:
string[3:-14:-2]

' '

In [13]:
for i in range(2,-14,-2):print(i,end=' ')

2 0 -2 -4 -6 -8 -10 -12

**string methods**

import <package_name>
dir(<package_name>)
help(<package_name>.<method_name>)

In [16]:
dir(' ')

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [19]:
string = 'welcome'
string.capitalize()

'Welcome'

In [5]:
string = 'ola ola ola'
print(string.count('a',4))
print(string.count('a',6))
print(string.count('a',4,6))
print(string.count('a',4,7))

2
2
0
1

In [7]:
string = 'ola ola ola'
count = 0
for i in range(len(string)):
    if string[i:i+3] == 'ola':
        count+=1
print(count)

3

In [14]:
string = 'restarrt rrrr'
string.replace('r','$',-1)
string.replace('r','$',1)

'$estarrt rrrr'

In [17]:
string = 'restart'
s1 = string[0]
s2 = string[1:].replace('r','$')
s1+s2

'resta$t'

In [20]:
string = 'welcome python'
string.index('c')
#string.index('z')

3

In [31]:
#string = 'get me coffee'
string = 'hai how are you'
for i in string:
    if i == 'a':
        count+=1
print(count)
string.count('a')

41

2

In [41]:
string = 'welcome helloo'
string.index('l')
string.index('l',string.index('l')+1)

10

In [51]:
string = 'hai hai'
string.find('a')
# string.find("z")     =====if sub string not found it returns -1
# string.count('z')    =====no error
#string.index('z')      ====== sub string not found

1

In [54]:
str1 = '3.1489'
# Extract 3
# Extract 1489

str1[str1.index('.')-1]
str1[str1.index('.')+1:]

'1489'

In [56]:
str1 = 'hai how are you'
str1.startswith('hai')
str1.endswith('you')

True

In [58]:
str1.startswith(str1)
str1.endswith(str1)

True

**List**
- array of elements
- list elements are heterogenes i.e different data types are allowed
- list is an array of elements
- duplicates are allowed

In [4]:
list = [1,2,3,4]
print(max(list))
list1 = ['A','B','C','D']
print(max(list1))

4
D

In [5]:
list = [1,2,3,4]
print(min(list))
list1 = ['A','B','C','D']
print(min(list1))

1
A

In [6]:
list = [1,2,3,4]
print(len(list))
list1 = ['A','B','C','D']
print(len(list1))

4
4

In [7]:
sum(list1)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

## python index starts with zero i.e list[0],list[1]......

In [13]:
for i in range(len(list1)):
    print(i)

0
1
2
3

In [18]:
#WAP finnd the element which are having len<3
#list=['Apple','Ball','CAt','Ab','Cd','Ef']

list = ['Apple','Ball','CAt','Ab','Cd','Ef']
for i in range (len(list)):
    if (len(list[i])<3):
        print(list[i])

Ab
Cd
Ef

In [19]:
#WAP find the element which are having # condition

list = ['App#e','B#ll','C#t','Ab','Cd','Ef']
for i in list:
    if '#' in i:
        print(i)

App#e
B#ll
C#t

In [20]:
list = ['App#e','B#ll','C#t','Ab','Cd','Ef']
count = 0
for i in list:
    if '#' in i:
        count = count+1
print(count)

3

In [22]:
list1 = [1,2,3,['Apple','Ball']]

# retrive the ball using index
# In the given list how many elements are ther : 4

list1[3][1]

'Ball'

In [34]:
list2 = [[[[[[['Cherry']]]]]]]
list2[0][0][0][0][0][0][0]

'Cherry'

In [40]:
list3 = [[[['A','B',[[[1,2,3,['Car']]]]]]]]
list3[0][0][0][2][0][0][3][0]

'Car'

In [41]:
string1 = 'welcome'
# 'l' to 'L'
string1[2] = 'L'

#strigs are immutable

TypeError: 'str' object does not support item assignment

In [42]:
list1 = ['a','b','c']
list1[0] = 100
list1

[100, 'b', 'c']

$slice$

In [43]:
list1 = [10,20,30,40,50,'P','Y','T','H','O','N','a','b','c']
print(list1[2:14:3])     #possible
print(list1[2:14:-3])     #not possible
print(list1[2:-14:3])      #not possiblr
print(list1[2:-14:-3])     #possible
print(list1[-2:14:3])      #possible
print(list1[-2:-14:3])     #not possible
print(list1[-2:-14:-3])     #possible
print(list1[-2:14:-3])        #not possible

[30, 'P', 'H', 'a']
[]
[]
[30]
['b']
[]
['b', 'O', 'Y', 40]
[]

In [53]:
list1 = [1,2,3,4]
list2 = list1.copy()
list2

list1.clear()

print('list1:',list1)
print('list2:',list2)

list1: []
list2: [1, 2, 3, 4]

#### List Method

$append$

In [3]:
list1 = [100,200]
list1.append(300)
list1

[100, 200, 300]

In [5]:
list1 = []
list1.append(100)
list1.append(200)
list1.append(300)
list1

[100, 200, 300]

In [2]:
list1.append([100,200])
list1

NameError: name 'list1' is not defined

In [6]:
#Input list = [1,22,3,4,5]
#create a new list = [1,4,9,16,25]

#write normal python code
list1 = [1,2,3,4,5]
for i in list1:
    print(i*i)


#i dont want print the values,i want to savelist

list1 = [1,2,3,4,5]
output = []
for i in list1:
    output.append(i*i)
output

1
4
9
16
25

[1, 4, 9, 16, 25]

In [8]:
list2 = ['hyd','banglore','delhi']
output = []
for i in list2:
    output.append(i.capitalize())
output

['Hyd', 'Banglore', 'Delhi']

In [11]:
list3 = ['h#d','beng#luru','delhi']
output = []
for i  in list3:
    if '#' in i:
        output.append(i)
output

['h#d', 'beng#luru']

**list comprehension**

In [19]:
#Code in single line=====>speed the process

list1 = [1,2,3,4,5]
output = [i*i for i in list1]
output


#  [<output>  <for loop>]

list2 = ['hyd','banglore','delhi']
output1 = [(i.capitalize()) for i in list2]
output1

['Hyd', 'Banglore', 'Delhi']

In [30]:
#create the list of 20 number from 1 to 20


#------Method 1-----------
for i in range(1,21):
    print(i)

#--------Method 2------------
numbers = []
for i in range(1,21):
    numbers.append(i)
numbers

#----------Method 3-----------
numbers1 = [i for i in range(1,21)]
numbers1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [31]:
# list comprehension with <if condition>

list3 = ['h#d','beng#luru','delhi']
output = []
for i  in list3:
    if '#' in i:
        output.append(i)
output

#[<o/p> <for loop> <if_condition>]
output1 = [i for i in list3 if '#' in i]
output1

['h#d', 'beng#luru']

In [33]:
list4 = ['abcd','abc','ac','a']

# elements less than 3
# ['ac','a']

output = [i for i in list4 if len(i)<3]
output

['ac', 'a']

In [43]:
# if-else

list1 = [1,2,3,4,5,6]
for i in list1:
    if i%2 == 0:
        print("even:{}".format(i))
    else:
        print("odd:{}".format(i))


list2 = [1,2,3,4,5,6]
output = []
for i in list2:
    if i%2 == 0:
        output.append("even:{}".format(i))
    else:
        output.append("odd:{}".format(i))
output

odd:1
even:2
odd:3
even:4
odd:5
even:6

['odd:1', 'even:2', 'odd:3', 'even:4', 'odd:5', 'even:6']

In [48]:
# [<if_output> <if_condition> else <else_output> <for loop>]

list2 = [1,2,3,4,5,6]
output1 = ("even:{}".format(i) if i%2==0 else "odd:{}".format(i) for i in list2)
output1

In [51]:
list1 = [1,2,3,'A','B','B','B','C']
list1.count('B')

3

In [52]:
count = 0
for i in list1:
    if i == 'B':
        count = count+1
print(count)

3

**Extend**

In [54]:
list1 = ['A','B','C']
list2 = [1,2,3]
list1.extend(list2)
list1

['A', 'B', 'C', 1, 2, 3]

- append will add the element at llast,that element can be any type

    list1 = [1,2,3]

    list2 = ['a','b']

    list1.append(list2)=[1,2,3['a','b']

-extend will update the list by adding new element,the result also save in a same list

     list1 = [1,2,3]

    list2 = ['a','b']

    list1.extend(list2)=[1,2,3['a','b']

-concat will add two list,but the reult will not update in a same list

     list1 = [1,2,3]

    list2 = ['a','b']

    list1=list2=[1,2,3['a','b']

**iterators**

In [62]:
list1=[1,2,3]
#list1.extend("Python")
list1.append("Python")
list1

[1, 2, 3, 'Python']

In [58]:
vak=reversed("Python")
vak

In [59]:
for i in vak:
    print(i)

n
o
h
t
y
P

**pop-remove-del**

    pop will take index
    remove will take keyword

In [63]:
list1.pop()

'Python'

In [66]:
list1 = [100,200,300]
list1.remove(100)
list1

[200, 300]

In [68]:
del (list1)

NameError: name 'list1' is not defined

In [69]:
list1 = [100,200,300,400]
del list1[2]
list1

[100, 200, 400]

**zip**

In [70]:
list1 = ['Ram','Robert','Raheem']
list2 = [25,30,35]

# Output
# Ram age is 25
# Robert age is 30
# Rahem age is 35
 
for i,j in zip(list1,list2):
    print("{} age is {}".format(i,j))

Ram age is 25
Robert age is 30
Raheem age is 35

In [71]:
list1 = [100,200,300]
list2 = [25,30,35]

#output = [125,230,335]

for i,j in zip(list1,list2):
    print("{} and{} is {}:".format(i,j,i+j))

100 and25 is 125:
200 and30 is 230:
300 and35 is 335:

**{key:value}**

In [73]:
d1 = {'Ram':25,
       'Raheem':30,
        'Robert':35}
d1

#keys :'Ram',"rahem','robert
#values:20,30,35

{'Ram': 25, 'Raheem': 30, 'Robert': 35}

In [76]:
d2 = {'even':[2,3,4],
        'odd':[3,5,7]}
d2

{'even': [2, 3, 4], 'odd': [3, 5, 7]}

In [77]:
d3 ={(2,4,6):'even',
        (3,5,7):'odd'
    }
d3

{(2, 4, 6): 'even', (3, 5, 7): 'odd'}

In [78]:
d4 ={[2,4,6]:'even',
        [3,5,7]:'odd'
    }
d4       #Fails

TypeError: unhashable type: 'list'

In [80]:
# {'key':<{}>}

d5 = {'item_list':{'fruit':'Apple'}}
d5

{'item_list': {'fruit': 'Apple'}}

In [82]:
d1 = {'A':1,'B':2,'A':3}
d1

{'A': 3, 'B': 2}

In [83]:
d1 = {'A':1,'B':2,'A':3}
d2

{'even': [2, 3, 4], 'odd': [3, 5, 7]}

- Dictionary is a key:vakue pair

- at values position you can take any data type

- at keys positions list and dictionary will fail

- Duplicates are not allowed

- if you update key value,latest value it will take

$type$

In [85]:
type(d1)

dict

In [88]:
d1 = {'Ram':25,
       'Raheem':30,
        'Robert':35}
max(d1)

'Raheem'

In [90]:
d1 = {'Ram':25,
       'Raheem':30,
        'Robert':35}
min(d1)

'Raha'

In [91]:
len(d1)

3

- Maximum and minimum valuse based in key

In [ ]:
sum(d1)

In [93]:
d2 = {100:'2',300:'44'}
sum(d2)

# if key has numeric then we can do sum

400

**index operator**

In [94]:
l1 = [10,20,30,40]
l1[0]

10

In [96]:
d1 = {'Ram':25,
       'Raheem':30,
        'Robert':35}
d1['Ram']

25

In [100]:
for key in d1:
    print("the age of {} is {}".format(key,d1[key]))

the age of Ram is 25
the age of Raheem is 30
the age of Robert is 35

In [102]:
for i in range(len(l1)):
    print(i,l1[i])

0 10
1 20
2 30
3 40

In [103]:
for key in range(len(d1)):
    print(key)

0
1
2

**Crteating a empty dictionary and update**

In [104]:
s = ''

for i in 'apple':
    s=s+i
print(s)

apple

In [105]:
l = [i for i in range(10)]

l = []
for i in range(10):
    l.append(i)
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [106]:
d1 = {}
d1['fruit'] = 'Apple'
d1

{'fruit': 'Apple'}

In [107]:
d1 = {}
d1["first name"] = "Manasvi"
d1["surname"] = "Bambode"
d1["Native"] = "Bhadrawati"
d1["first name"] = "Manasvi"
d1["State"] = "Maharashtra"
d1

{'first name': 'Manasvi',
 'surname': 'Bambode',
 'Native': 'Bhadrawati',
 'State': 'Maharashtra'}

In [111]:
#WAP create a dictinoary based on 2 list
name = ['Ram','Raheem','Robert']
age = [25,30,35]
d1 ={}
for i,j in zip(name,age):
    d1[i]=j
d1

{'Ram': 25, 'Raheem': 30, 'Robert': 35}

In [112]:
for i in range(len(name)):
    #print(i,name[i],age[i])
    d1[name[i]]=age[i]
d1

{'Ram': 25, 'Raheem': 30, 'Robert': 35}

In [113]:
import os

In [114]:
os.getcwd()

'C:\\Users\\manas\\OneDrive\\Documents\\DataSci_NareshIT'

**items-keys-values**

In [117]:
d1 = {'Ram':25,
       'Raheem':30,
        'Robert':35}
d1

{'Ram': 25, 'Raheem': 30, 'Robert': 35}

In [122]:
d1.items()

builtin_function_or_method

In [123]:
type(d1)

dict

In [120]:
d1.keys()

dict_keys(['Ram', 'Raheem', 'Robert'])

In [124]:
type(d1)

dict

In [121]:
d1.values()

dict_values([25, 30, 35])

In [126]:
l1 = [25,30,35]
l1.append(400)
l1

[25, 30, 35, 400]

In [132]:
d1 = {'Ram':25,
       'Raheem':30,
        'Robert':35}
keys = list(d1.keys())
values = list(d1.values())
keys,values

(['Ram', 'Raheem', 'Robert'], [25, 30, 35])

In [133]:
{i:j for i,j in zip(keys,values)}

{'Ram': 25, 'Raheem': 30, 'Robert': 35}

In [134]:
d1 = {}
for i in range(len(keys)):
    d1[keys[i]] = values[i]
d1

{'Ram': 25, 'Raheem': 30, 'Robert': 35}

In [135]:
dict(zip(keys,values))

{'Ram': 25, 'Raheem': 30, 'Robert': 35}

In [136]:
s1 = 'virat.kohli.com,Rohit.sharma@mumbai.com,kl.rahul@lucknow.com'
s1.split(',')

['virat.kohli.com', 'Rohit.sharma@mumbai.com', 'kl.rahul@lucknow.com']

In [146]:
str1 = 'virat.kohli@blr.com'
f_name = [str1[:str1.find('.')] for str1 in s1.split(',')]
s_name = [str1[str1.find('.')+1:str1.find('@')] for str1 in s1.split(',')]
c_name = [str1[str1.find('@')+1:str1.find('.',str1.find('.')+1)] for str1 in s1.split(',')]
f_name,s_name,c_name

(['virat', 'Rohit', 'kl'],
 ['kohli.co', 'sharma', 'rahul'],
 ['virat.kohli', 'mumbai', 'lucknow'])

$clear$-$copy$

In [149]:
#take one dictionary
#take second dictionary
#copy first dict into second
#clear first dict
#and print both

d1 = {'a':20,'b':30,'c':40}
d2 = d1.copy()
d1.clear()
print(d1)
print(d2)

{}
{'a': 20, 'b': 30, 'c': 40}

$pop$-$popitem$-$del$

In [178]:
d1 = {'a':20,'b':30,'c':40}
d2 = d1.pop('a')
print(d2)
print(d1)
d2 = d1.popitem()
print(d2)
print(d1)
del(d2)

20
{'b': 30, 'c': 40}
('c', 40)
{'b': 30}

In [180]:
d3 = {}.fromkeys([1,2,3],'odd')
d3

{1: 'odd', 2: 'odd', 3: 'odd'}

In [183]:
d2={}
d2['mmmm']='DS'
d2.setdefault('city')
d2

{'mmmm': 'DS', 'city': None}

In [187]:
t1 = [(1,2),(2,3)]
d1 = {}
d1.update(t1)
d1

{1: 2, 2: 3}